[submodule "external/HURRICANE"]
	path = external/HURRICANE
	url = https://github.com/SWORDIntel/HURRICANE.git
[submodule "external/CLOUDCLEAR"]
	path = external/CLOUDCLEAR
	url = https://github.com/SWORDIntel/CLOUDCLEAR.git
[submodule "external/ARTICBASTION"]
	path = external/ARTICBASTION
	url = https://github.com/SWORDIntel/ARTICBASTION.git
